<footer>
    <div>
        <div class="footer-info">
            <p class="footer-headline">Sven</p>
            <p class="footer-middle">© Sven Rösgen 2024</p>
            <div>
                <img class="footer-icon" src="./assets/img/github.svg" alt="github">
                <img class="footer-icon" src="./assets/img/mail.svg" alt="mail">
                <img class="footer-icon" src="./assets/img/linkedin.svg" alt="linkedIn">
            </div>
        </div>
        <a>Impressum</a>
    </div>
</footer>