section {
    display: flex;
    align-items: center;
    gap: 35px;

    >img {
        width: 620px;
        height: 339px;
    }

    >div {
        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 513px;
    }
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h3 {
    margin: 0;
    color: #9747FF;
    font-size: 32px;
    font-weight: 700;
}

h4 {
    margin: 0;
    color: #70E61C;
    font-size: 23px;
    font-weight: 400;
}

p {
    margin: 0;
    color: white;
    font-size: 16px;
}

.project-btns-container {
    display: flex;
    gap: 86px;
}

button {
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    color: white;
    font-size: 23px;
    transition: background-color 0.1s;

    &:hover {
        cursor: pointer;
        background-color: #70E61C;
    }
}

.test-btn {
    background-color: #9747FF;
    border: none;
}

.github-btn {
    background-color: transparent;
    border: 1px solid #70E61C;
}