<section>
    <img src="./assets/img/placeholder.png">
    <div>
        <div class="project-description">
            <h3>Join</h3>
            <h4>HTML | CSS | JavaScript</h4>
            <p>Task manager inspired by the Kanban System. Create and organzie tasks using drag and drop function,
                assign users and categories.</p>
        </div>
        <div class="project-btns-container">
            <button class="test-btn">Live Test</button>
            <button class="github-btn">Github</button>
        </div>
    </div>
</section>