section {
    padding-top: 100px;
    padding-bottom: 140px;
    position: relative;
}

.background-shadow-portfolio-middle {
    position: absolute;
    left: 0px;
    top: 1100px;
}

.background-shadow-portfolio-end {
    position: absolute;
    right: -500px;
    bottom: 0px;
    transform: rotateZ(75deg);
}

p {
    margin: 0;
    color: white;
    font-size: 16px;
}

.portfolio-headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding-bottom: 116px;
}

.portfolio-headline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.purple-line-long {
    width: 37%;
    height: 4px;
    background-color: #9747FF;
    border: none;
}

h1 {
    color: white;
    font-size: 90px;
    font-weight: 700;
    margin: 0;
    margin-right: 42px;
    margin-left: 36px;
}

.purple-line-short {
    width: 109px;
    height: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #9747FF;
    border: none;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 1;
    position: relative;

    >app-project-blueprint {
        margin-left: 72px;
    }

    >app-project-blueprint-mirrored {
        margin-right: 72px;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 600px) {
    section {
        margin-left: 25px;
        overflow-x: clip;

        >div {
            margin-right: 25px;
        }
    }

    .portfolio-headline {
        justify-content: center;
    }

    .purple-line-long {
        margin-right: -25px;
    }

    .purple-line-short {
        width: 20px;
        margin-left: 25px;
    }

    h1 {
        margin-left: 9px;
        margin-right: 10px;
        font-size: 45px;
    }

    .purple-line-long {
        width: 75px;
    }

    p {
        text-align: center;
    }

    .project-container {
        padding: 0;

        >app-project-blueprint {
            margin-left: 0;
        }

        >app-project-blueprint-mirrored {
            margin-right: 0;
            display: flex;
            justify-content: flex-end;
        }
    }

    .background-shadow-portfolio-middle {
        top: 1600px;
        width: 500px;
    }

    .background-shadow-portfolio-end {
        bottom: -220px;
        right: -275px;
        height: 600px;
    }
}