<section id="portfolio">
    <div class="portfolio-headline-container">
        <div class="portfolio-headline">
            <div class="short-line-container">
                <div class="purple-line-short"></div>
            </div>
            <h1>Portfolio</h1>
            <div class="long-line-container">
                <div class="purple-line-long"></div>
            </div>            
        </div>
        <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    </div>
    <div class="project-container">
        @for(project of projects; track project.name; let index = $index){
        @if(index % 2 == 0){
        <app-project-blueprint [projectData]="project"></app-project-blueprint>
        } @else {
        <app-project-blueprint-mirrored [projectDataMirrored]="project"></app-project-blueprint-mirrored>
        }
        }
    </div>
    <img class="background-shadow-portfolio-middle" src="./assets/img/background/purple_2.svg">
    <img class="background-shadow-portfolio-end" src="./assets/img/background/green_1.svg">
</section>