section {
    background-color: #141D2F;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.background-shadow-contact{
    position: absolute;
    left: -350px;
    top: 6150px;
    transform: rotateZ(-100deg);
}

.contact-container {
    display: flex;
    gap: 150px;
    padding-bottom: 180px;
    padding-top: 100px;
    color: white;

    >div {
        display: flex;
    }
}

.purple-line {
    margin-top: 60px;
    background-color: #9747FF;
    width: 50px;
    height: 4px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

p {
    margin: 0;
}

.contact-left-container {
    padding-left: 50px;
}

.contact-headline {
    font-weight: 700;
    font-size: 90px;
    padding-bottom: 85px;
}

.contact-question {
    font-weight: 700;
    font-size: 32px;
}

.font-size-16 {
    font-size: 16px;
}

app-contactform {
    margin-top: 230px;
}

a {
    height: 39px;
    width: 39px;
    margin-bottom: 90px;
    margin-right: 100px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(130%) contrast(105%);
    -webkit-transition: -webkit-filter 100ms linear;

    &:hover {
        cursor: pointer;
        filter: none;
    }
}