<section id="contact">
    <img class="background-shadow-contact" src="./assets/img/background/purple_2.svg">
    <div class="contact-container">
        <div>
            <div class="purple-line"></div>
            <div class="contact-left-container">
                <p class="contact-headline">{{ "contact-headline" | translate }}</p>
                <p class="contact-question">{{ "contact-question" | translate }}</p>
                <p class="font-size-16">{{ "contact-description" | translate }}</p>
                <p class="font-size-16">{{ "contact-contactme" | translate }}</p>
            </div>
        </div>
        <app-contactform></app-contactform>
    </div>
    <a href="#main"><img src="./assets/img/arrow-circle-up-green.svg"></a>
</section>