<section id="contact">
    <img class="background-shadow-contact" src="./assets/img/background/purple_2.svg">
    <div class="contact-container">
        <div>
            <div class="purple-line"></div>
            <div class="contact-left-container">
                <p class="contact-headline">Contact</p>
                <p class="contact-question">Got a problem to solve?</p>
                <p class="font-size-16">Contact me through this form, I am interested in hearing from you, knowing your
                    ideas and contributing to
                    your projects with my work.</p>
                <p class="font-size-16">Need a Frontend developer? <b>Contact me!</b></p>
            </div>
        </div>
        <app-contactform></app-contactform>
    </div>
    <a href="#main"><img src="./assets/img/arrow-circle-up-green.svg"></a>
</section>