<div class="form-container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-input-container">
            <div>
                <input [class.is-valid]="name.valid && name.touched" [class.is-invalid]="!name.valid && name.touched"
                    class="form-input" #name="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="contactData.name"
                    required placeholder="Your name">
                @if(!name.valid && name.touched){
                <span>Please enter a name</span>
                }
            </div>
            <div>
                <input [class.is-valid]="email.valid && email.touched" [class.is-invalid]="!email.valid && email.touched"
                    class="form-input" #email="ngModel" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="contactData.email" required placeholder="Your email"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                @if(!email.valid && email.touched){
                <span>Please enter a email</span>
                }
            </div>
            <div>
                <textarea [class.textbox-is-valid]="message.valid && message.touched && !message.disabled"
                    [class.textbox-is-invalid]="!message.valid && message.touched && !message.disabled" #message="ngModel"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="contactData.message" required
                    placeholder="Your message"></textarea>
                @if(!message.valid && message.touched && !message.disabled){
                <span>Please enter a message</span>
                }
            </div>
        </div>
        <div>
            <div>
                <div class="custom-checkbox">
                    <input #checkbox="ngModel" [ngModelOptions]="{standalone: true}" type="checkbox" id="checkbox" [(ngModel)]="isChecked">
                    <label for="checkbox">I've read the <a href="privacy-policy" class="purple-text">privacy policy</a> and
                        agree to the
                        processing of my data as outlined.</label>
                </div>
            </div>
            <div class="btn-container">
                <button type="submit" disabled [disabled]="!isChecked">Send message :)</button>
            </div>
        </div>
    </form>
</div>