<div class="form-container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-input-container">
            <div>
                <input [class.is-valid]="name.valid && name.touched" [class.is-invalid]="!name.valid && name.touched"
                    class="form-input" #name="ngModel" name="name"
                    [(ngModel)]="contactData.name" required placeholder="Your name">
                @if(!name.valid && name.touched){
                <span class="error-message">Your name is required</span>
                }
            </div>
            <div>
                <input [class.is-valid]="email.valid && email.touched"
                    [class.is-invalid]="!email.valid && email.touched" class="form-input" #email="ngModel"
                    name="email" [(ngModel)]="contactData.email" required
                    placeholder="Your email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                @if(!email.valid && email.touched){
                <span class="error-message">Your email is required</span>
                }
            </div>
            <div>
                <textarea [class.textbox-is-valid]="message.valid && message.touched && !message.disabled"
                    [class.textbox-is-invalid]="!message.valid && message.touched && !message.disabled"
                    #message="ngModel" name="message" [(ngModel)]="contactData.message" required
                    placeholder="Your message"></textarea>
                @if(!message.valid && message.touched && !message.disabled){
                <span class="error-message-textarea">Please enter a message</span>
                }
            </div>
        </div>
        <div class="user-interaction-container">
            <div>
                <div class="custom-checkbox">
                    <input #checkbox="ngModel" [ngModelOptions]="{standalone: true}" type="checkbox" id="checkbox"
                        [(ngModel)]="isChecked">
                    <label for="checkbox">I've read the <a href="privacy-policy" class="purple-text">privacy policy</a>
                        and
                        agree to the
                        processing of my data as outlined.</label>
                </div>
            </div>
            <div class="btn-container">
                <button type="submit" disabled [disabled]="!isChecked || contactForm.invalid">Send message :)</button>
                <span id="msgSuccess" class="mail-success">Mail sent :D</span>
            </div>
        </div>
    </form>
</div>