<div class="form-container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input class="form-input" #name="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="contactData.name"
            required placeholder="Your name">
        @if(!name.valid && name.touched){
        <span>Please enter a name</span>
        }
        <input class="form-input" #email="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="contactData.email"
            required placeholder="Your email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
        @if(!email.valid && email.touched){
        <span>Please enter a email</span>
        }
        <textarea #message="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="contactData.message" required
            placeholder="Your message" minlength="4"></textarea>
        @if(!message.valid && message.touched && !message.disabled){
        <span>Please enter a message</span>
        }
    </form>
    <div>
        <div>
            <div class="custom-checkbox">
                <input #checkbox="ngModel" type="checkbox" id="checkbox" [(ngModel)]="isChecked">
                <label for="checkbox">I've read the <a href="privacy-policy" class="purple-text">privacy policy</a> and
                    agree to the
                    processing of my data as outlined.</label>
            </div>
            @if(!isChecked){
            <span>Please accept the privacy policy</span>
            }
        </div>
        <div class="btn-container">
            <button #submitBtn="ngModel" type="submit" disabled [disabled]="!isChecked">Send message :)</button>
        </div>
    </div>
</div>