<section id="about_me">
    <div>
        <div class="personal-info">
            <span class="headline">{{ "aboutme-headline" | translate }}</span>
            <p>{{ "aboutme-description" | translate }}</p>
            <div class="flex">
                <img src="./assets/img/icon-bulb.svg">
                <p>{{ "aboutme-first" | translate }}</p>
            </div>
            <div class="flex">
                <img src="./assets/img/icon-puzzle.svg">
                <p>{{ "aboutme-second" | translate }}</p>
            </div>
        </div>
        <div class="image-circle">
            <div class="circle">
                <img src="./assets/img/me-side.png">
            </div>
            <div class="green-line"></div>
        </div>
    </div>
    <img class="background-shadow-about-me" src="./assets/img/background/purple_1.svg">
</section>