<section id="about_me">
    <img class="background-shadow-about-me" src="./assets/img/background/purple_1.svg">
    <div>
        <div>
            <span class="headline">About me</span>
            <p>Hi, I am a Front-end developer based in Lingen, Germany.</p>
            <div class="flex">
                <img src="">
                <p>Some personal thing to share</p>
            </div>
            <div class="flex">
                <img src="">
                <p>Some personal thing to share</p>
            </div>
        </div>
        <div class="image-circle">
            <div class="circle">
                <img src="./assets/img/placeholder.png">
            </div>
            <div class="green-line"></div>
        </div>
    </div>
</section>