<section id="about_me">
    <div>
        <div class="personal-info">
            <span class="headline">About me</span>
            <p>Hi, I am a Front-end developer based in Lingen, Germany. I love to learn new tech-related things.</p>
            <div class="flex">
                <img src="./assets/img/icon-bulb.svg">
                <p>I am a fast learner and eager to learn new technologies and skills.</p>
            </div>
            <div class="flex">
                <img src="./assets/img/icon-puzzle.svg">
                <p>I am ambitious to learn things and have the discipline to do so.</p>
            </div>
        </div>
        <div class="image-circle">
            <div class="circle">
                <img src="./assets/img/me-side.png">
            </div>
            <div class="green-line"></div>
        </div>
    </div>
    <img class="background-shadow-about-me" src="./assets/img/background/purple_1.svg">
</section>