section {
    color: white;
    background-color: #141D2F;
    display: flex;
    gap: 150px;
    padding-bottom: 180px;
    padding-top: 240px;

    >div {
        display: flex;
    }
}

.purple-line {
    margin-top: 60px;
    background-color: #9747FF;
    width: 50px;
    height: 4px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

p {
    margin: 0;
}

.contact-left-container{
    padding-left: 50px;
}

.contact-headline {
    font-weight: 700;
    font-size: 90px;
    padding-bottom: 85px;
}

.contact-question {
    font-weight: 700;
    font-size: 32px;
}

.font-size-16 {
    font-size: 16px;
}

app-contactform{
    margin-top: 230px;
}