<section>
    <div>
        <div class="purple-line"></div>
        <div>
            <p class="contact-headline">Contact</p>
            <p class="contact-question">Got a problem to solve?</p>
            <p class="font-size-16">Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
                your projects with my work.</p>
            <p class="font-size-16">Need a Frontend developer? <b>Contact me!</b></p>
        </div>
    </div>
    <div>
        <!-- <app-contact></app-contact> -->
    </div>
    
</section>