<section>
    <div>
        <img class="main-picture" src="" alt="profile-picture">
        <div class="headline">
            <div>
                <div>
                    <span class="rotate-90 size-64">I am</span>
                </div>
                <div class="headline-right">
                    <span class="size-90">Sven Rösgen</span>
                    <span class="color-purple size-58">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <button>Let's talk!</button>
        </div>
    </div>
    <div>
        <img src="" alt="purple-line">
        <img src="" alt="github">
        <img src="" alt="mail">
        <img src="" alt="linkedIn">
        <a href="">svenroesgen&#64;gmail.com</a>
    </div>
    <span>Scroll down →</span>
</section>