<section id="main">
    <div>
        <img class="main-picture" src="./assets/img/placeholder.png" alt="profile-picture">
        <div class="headline">
            <div class="x">
                <div class="headline-left">
                    <span>I am</span>
                </div>
                <div class="headline-right">
                    <span class="size-90 bold">Sven Rösgen</span>
                    <span class="color-purple size-58">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <a class="button" href="#contact">Let's talk!</a>
        </div>
    </div>
    <img class="background-form" src="./assets/img/main-background-form.svg">
    <span class="scroll-down">Scroll down <img src="./assets/img/arrow-down.svg"></span>
    <div class="main-bottom">
        <div class="purple-line"> </div>
        <img (click)="navigateToGithub()" class="main-icon" src="./assets/img/github.svg" alt="github">
        <img class="main-icon" src="./assets/img/mail.svg" alt="mail">
        <img class="main-icon" src="./assets/img/linkedin.svg" alt="linkedIn">
        <a href="">svenroesgen&#64;gmail.com</a>
    </div>
</section>