section {
    height: 100vh;
    width: 100%;
    background-color: #141D2F;

    >div {
        display: flex;
    }
}

.main-picture {
    height: 705px;
    width: 646px;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
    color: white;

    >.x {
        display: flex;
        align-items: center;
    }
}

.headline-left {
    transform: rotate(-90deg);
    width: 152px;
    height: 63px;

    >span {
        font-size: 64px;
    }
}

.headline-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-bottom {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;

    >a {
        text-decoration: none;
        color: white;
    }
}

.purple-line {
    width: 100px;
    height: 3px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #9747FF;
    border: none;
}

.scroll-down {
    transform: rotate(90deg);
    position: absolute;
    right: 96px;
    font-size: 23px;
    color: white;

    >img {
        transform: rotate(-90deg);
    }
}

button{
    background-color: #70E61C;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border: none;
    color: white;
    height: 58px;
    width: 165px;
    font-size: 23px;
    transition: scale 0.1s;
    &:hover{
        background-color: #9747FF;
        scale: 1.2;
    }
}

.size-90 {
    font-size: 90px;
}

.bold {
    font-weight: 700px;
}

.size-58 {
    font-size: 58px;
}

.color-purple {
    color: #9747FF;
}