<section id="main">
    <div>
        <div class="picture-container">
            <img class="main-picture" src="./assets/img/me-front.png" alt="profile-picture">
            <img class="background-shadow" src="./assets/img/background/green_purple.svg">
        </div>
        <div class="headline">
            <div>
                <div class="headline-left">
                    <span>I am</span>
                </div>
                <div class="headline-right">
                    <span class="headline-right-name">Sven Rösgen</span>
                    <span class="headline-right-profession">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <a class="button" href="#contact">{{ "main-button" | translate }}</a>
        </div>
    </div>
    <span class="scroll-down">{{ "main-scroll" | translate }} <img src="./assets/img/arrow-down.svg"></span>
    <div class="main-bottom">
        <div class="purple-line"> </div>
        <a href="https://github.com/ShaunOfP" target="_blank"><img class="main-icon"
                src="./assets/img/github.svg" alt="github"></a>
        <a href="#contact"><img class="main-icon" src="./assets/img/mail.svg" alt="mail"></a>
        <a href="https://www.linkedin.com/in/sven-r%C3%B6sgen-046ab9320/" target="_blank"><img class="main-icon"
                src="./assets/img/linkedin.svg" alt="linkedIn"></a>
        <a id="mail" href="#contact">svenroesgen&#64;gmail.com</a>
    </div>
    <img class="background-form" src="./assets/img/background/main-background-form.svg">
    <img class="second-background-form" src="./assets/img/background/main-mobile-background-form.svg">
</section>