section {
    height: 100vh;
    width: 100%;
    padding-top: 110px;
    position: relative;

    >div {
        display: flex;
    }
}

.picture-container {
    width: 646px;
    height: 705px;
    margin-left: 47px;
    position: relative;
}

.background-shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-picture {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
    color: white;
    z-index: 4;
    margin-right: 100px;

    >div {
        display: flex;
        align-items: center;
    }
}

.headline-left {
    transform: rotate(-90deg);
    width: 152px;
    height: 63px;

    >span {
        font-size: 64px;
    }
}

.headline-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-bottom {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    position: absolute;
    bottom: 150px;
    left: 0;

    >a {
        text-decoration: none;
        color: white;
        z-index: 4;
    }
}

.purple-line {
    width: 100px;
    height: 3px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #9747FF;
    border: none;
    z-index: 4;
}

.scroll-down {
    transform: rotate(90deg);
    position: absolute;
    right: 35px;
    font-size: 23px;
    color: white;
    z-index: 4;
    bottom: 200px;

    >img {
        transform: rotate(-90deg);
    }
}

.button {
    background-color: #70E61C;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 23px;
    transition: scale 0.1s;
    text-decoration: none;

    &:hover {
        background-color: #9747FF;
        scale: 1.2;
        cursor: pointer;
    }
}

.main-icon {
    height: 30px;
    width: 30px;
    z-index: 5;
    transition: scale 0.2s;

    &:hover {
        scale: 1.3;
        cursor: pointer;
    }
}

.background-form {
    width: 100%;
    position: absolute;
    top: 235px;
    z-index: 2;
}

.headline-right-name {
    font-size: 90px;
    font-weight: 700;
}

.headline-right-profession {
    color: #9747FF;
    font-size: 58px;
}

.mobile-background-form {
    display: none;
}

@media (min-width: 900px) and (max-width: 1700px) {
    section {

        >div:nth-child(1) {
            justify-content: space-between;
        }
    }
}

@media (max-width: 1590px) {
    .picture-container {
        height: 656px;
        width: 606px;
    }
}

@media (max-width: 1550px) {
    .headline-right-profession {
        font-size: 3vw;
    }

    .headline-right-name {
        font-size: 5vw;
    }

    .headline-left {
        text-align: center;
        width: max-content;

        >span {
            font-size: 4vw;
        }
    }
}

@media (max-width: 1380px) {
    .picture-container {
        height: 656px;
        width: 556px;
    }
}

@media (max-width: 1300px) {
    .headline {
        margin-left: -20px;
    }
}

@media (max-width: 1245px) {
    .headline {
        margin-left: 0;
        margin-right: 50px;
    }

    .scroll-down {
        right: -12px;
    }
}

@media (max-width: 1195px) {
    .picture-container {
        height: 606px;
        width: 506px;
    }
}

@media (max-width: 1120px) {
    .headline {
        margin-right: 25px;
    }

    .scroll-down {
        right: -38px;
    }

    .picture-container{
        margin-left: 25px;
    }
}

@media (max-width: 1050px){
    .picture-container {
        height: 556px;
        width: 456px;
    }
}

@media (max-width: 900px){
    .background-form{
        
    }
}

@media (max-width: 600px) {
    section {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        overflow-x: clip;

        >div {
            flex-direction: column;
        }
    }

    #mail {
        display: none;
    }

    .background-form {
        top: 90px;
        width: auto;
    }

    .picture-container {
        height: 445px;
        width: 100%;
        margin-left: 0;
    }

    .scroll-down {
        display: none;
    }

    .headline {
        gap: 26px;
    }

    .headline-left {
        text-align: center;
        margin-right: -55px;

        >span {
            font-size: 32px;
        }
    }

    .headline-right-name {
        font-size: 45px;
    }

    .headline-right-profession {
        font-size: 29px;
    }

    .main-bottom {
        display: flex;
        flex-direction: row !important;
    }
}

@media (max-width: 525px) {
    .headline {
        margin: 0;
    }

    .headline-left {
        margin-left: -55px;
    }
}

@media (max-width: 430px) {
    .headline-right-profession {
        font-size: 24px;
    }

    .headline-right-name {
        font-size: 38px;
    }
}

@media (max-width: 340px) {
    .purple-line {
        width: 80px;
    }
}