<app-header-alternative></app-header-alternative>
<section id="privacy-policy">
    <h1 id="ppHeadline" class="eplColor fontsize-61">{{ "pp-headline" | translate }}</h1>
    <h2 class="fontsize-27">{{ "pp-first-section" | translate }}</h2>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-first-section-info" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-first-section-p1" | translate }}</p>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-first-section-h3" | translate }}</h3>
    <h4 class="fontsize-21 eplColor txt-shadow">{{ "pp-first-section-h4" | translate }}</h4>
    <p class="fontsize-21">{{ "pp-first-section-p2" | translate }}</p>
    <h4 class="fontsize-21 eplColor txt-shadow">{{ "pp-first-section-h4-2" | translate }}</h4>
    <p class="fontsize-21">{{ "pp-first-section-p3" | translate }}</p>
    <p class="fontsize-21">{{ "pp-first-section-p4" | translate }}</p>
    <h4 class="fontsize-21 eplColor txt-shadow">{{ "pp-first-section-h4-3" | translate }}</h4>
    <p class="fontsize-21">{{ "pp-first-section-p5" | translate }}</p>
    <h4 class="fontsize-21 eplColor txt-shadow">{{ "pp-first-section-h4-4" | translate }}</h4>
    <p class="fontsize-21">{{ "pp-first-section-p6" | translate }}</p>
    <p class="fontsize-21">{{ "pp-first-section-p7" | translate }}</p>
    <h2 class="fontsize-27">{{ "pp-second-section" | translate }}</h2>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-second-section-h3" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-second-section-p1" | translate }}</p>
    <p class="fontsize-21">{{ "pp-second-section-p2" | translate }}</p>
    <p class="fontsize-21">{{ "pp-second-section-p3" | translate }}</p>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-second-section-h3-2" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-second-section-p4" | translate }}</p>
    <p class="fontsize-21">Sven R&ouml;sgen</p>
    <p class="fontsize-21">{{ "pp-second-section-phone" | translate }} &#91;Telefonnummer der verantwortlichen
        Stelle&#93;<br />
        {{ "pp-second-section-mail" | translate }} SvenRoesgen&#64;gmail.com</p>
    <p class="fontsize-21">{{ "pp-second-section-p5" | translate }}</p>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-second-section-h3-3" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-second-section-p6" | translate }}</p>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-second-section-h3-4" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-second-section-p7" | translate }}</p>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-second-section-h3-5" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-second-section-p8" | translate }}</p>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-second-section-h3-6" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-second-section-p9" | translate }}</p>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-second-section-h3-7" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-second-section-p10" | translate }}</p>
    <p class="fontsize-21">{{ "pp-second-section-p11" | translate }}</p>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-second-section-h3-8" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-second-section-p12" | translate }}</p>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-second-section-h3-9" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-second-section-p13" | translate }}</p>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-second-section-h3-10" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-second-section-p14" | translate }}</p>
    <h3 class="fontsize-27 eplColor txt-shadow">{{ "pp-second-section-h3-11" | translate }}</h3>
    <p class="fontsize-21">{{ "pp-second-section-p15" | translate }}</p>
    <ul>
        <li>{{ "pp-second-section-li-1" | translate }}</li>
        <li>{{ "pp-second-section-li-2" | translate }}</li>
        <li>{{ "pp-second-section-li-3" | translate }}</li>
        <li>{{ "pp-second-section-li-4" | translate }}</li>
    </ul>
    <p class="fontsize-21">{{ "pp-second-section-p16" | translate }}</p>
    <p class="fontsize-21">{{ "pp-source" | translate }} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</section>