section {
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 110px;
}

@media (max-width: 1245px) {
    section {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 600px) {
    section {
        margin-left: 25px;
        margin-right: 25px;
    }
}