<footer>
    <div>
        <div class="footer-info">
            <p class="footer-headline">Sven</p>
            <p class="footer-middle">© Sven Rösgen 2024</p>
            <div>
                <img (click)="navigateToGithub()" class="footer-icon" src="./assets/img/github.svg" alt="github">
                <img class="footer-icon" src="./assets/img/mail.svg" alt="mail">
                <img class="footer-icon" src="./assets/img/linkedin.svg" alt="linkedIn">
            </div>
            <a class="mobile-imprint" href="imprint">Impressum</a>
        </div>
        <div class="imprint-container">
            <a (mouseenter)="mouseOverTrue()" (mouseleave)="mouseOverFalse()" href="imprint">Impressum</a>
            <div [ngClass]="{'hidden': !mouseOver}" class="blue-line"></div>
        </div>
    </div>
</footer>