footer {
    height: 291px;
    background-color: #141D2F;
    border-top: 4px solid #70E61C;
    display: flex;
    align-items: center;
    padding: 0 100px 0 100px;
    position: relative;
    z-index: 1;

    >div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.imprint-container {
    position: relative;
    color: white;

    >a {
        text-decoration: none;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }
}

.blue-line {
    background-color: #1CDAE6;
    width: 58px;
    height: 2px;
    border: none;
}

.hidden {
    visibility: hidden;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    >p {
        margin: 0;
        color: white;
    }

    >div {
        display: flex;
        gap: 42px;
    }
}

.footer-headline {
    // Logo
}

.footer-middle {
    font-size: 23px;
}

.footer-icon-container {
    >a {
        height: 30px;
    }
}

.footer-icon {
    height: 30px;
    width: 30px;
    transition: scale 0.2s;

    &:hover {
        scale: 1.3;
        cursor: pointer;
    }
}

.mobile-imprint {
    display: none;
    color: white;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

@media (max-width: 1245px) {
    footer {
        padding: 0 50px 0 50px;
    }
}

@media (max-width: 650px) {
    footer {
        justify-content: center;
    }

    .footer-info {
        flex-direction: column;
        gap: 23px;
    }

    .mobile-imprint {
        display: flex;
    }

    .imprint-container {
        display: none;
    }
}

@media (max-width: 600px) {
    footer {
        height: 380px;
        padding: 0 25px 0 25px;
    }

    .footer-headline {
        margin-bottom: 55px !important;
    }
}