<section id="my_skills">
    <img class="background-shadow-my-skills" src="./assets/img/background/green_1.svg">
    <div class="mobile-skills-header">
        <div class="my-skills-section">
            <div>
                <p class="my-skills-headline">My skills</p>
                <p class="my-skills-description">{{ "myskills-description" | translate }}</p>
            </div>
            <div class="purple-line"></div>
        </div>
    </div>
    <div class="icon-container">
        <div class="icon-row">
            @for(item of iconInfos; track item.path){
            <div class="icon-box">
                <img src="./assets/img/{{ item.path }}.svg">
                <p>{{ item.name }}</p>
            </div>
            }
        </div>
    </div>
    <div class="my-skills-right-side">
        <div>
            <div class="my-skills-section">
                <div>
                    <p class="my-skills-headline">My skills</p>
                    <p class="my-skills-description">{{ "myskills-description" | translate }}</p>
                </div>
                <div class="purple-line"></div>
            </div>
        </div>
        <a class="button" href="#contact">{{ "myskills-button" | translate }}</a>
    </div>
    <a class="mobile-button" href="#contact">{{ "myskills-button" | translate }}</a>
</section>