section {
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 175px;
    padding-top: 278px;
    position: relative;
}

.icon-container {
    width: 721px;
    display: flex;
    flex-direction: column;
}

.background-shadow-my-skills {
    position: absolute;
    transform: rotateX(180deg);
    top: 350px;
    left: -550px;
    z-index: 0;
}

.icon-row {
    display: flex;
    width: 844px;
    flex-wrap: wrap;
    z-index: 1;
}

.icon-box {
    padding-right: 123px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    align-items: center;
    width: 88px;
    padding-bottom: 54px;

    >img {
        height: 60px;
        width: 60px;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

        &:hover {
            animation-name: bounce;
            -moz-animation-name: bounce;
        }
    }

    >p {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: white;
    }
}

.my-skills-right-side {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 571px;
    gap: 57px;
}

.my-skills-section {
    display: flex;
    gap: 42px;

    >div {
        >p {
            margin: 0;
            color: white;
        }
    }
}

.my-skills-headline {
    font-size: 90px;
    font-weight: 700;
    text-align: right;
}

.my-skills-description {
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}

.button {
    background-color: #70E61C;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    border: none;
    color: white;
    font-size: 23px;
    transition: scale 0.1s;
    text-decoration: none;
    z-index: 1;

    &:hover {
        background-color: #9747FF;
        scale: 1.2;
        cursor: pointer;
    }
}

.purple-line {
    margin-top: 70px;
    background-color: #9747FF;
    width: 58px;
    height: 4px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.mobile-skills-header {
    width: 100%;
    margin-bottom: 60px;
    display: none;
}

.mobile-button {
    background-color: #70E61C;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    border: none;
    color: white;
    font-size: 23px;
    transition: scale 0.1s;
    text-decoration: none;
    display: none;
    margin-top: 67px;
    z-index: 1;

    &:hover {
        background-color: #9747FF;
        scale: 1.2;
        cursor: pointer;
    }
}

@media (max-width: 1420px) {
    .icon-row {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 1255px) {
    .my-skills-right-side {
        width: 500px;
    }

    .my-skills-headline {
        font-size: 6vw;
    }
}

@media (max-width: 1245px) {
    section {
        margin-left: 50px;
    }

    .purple-line {
        margin-top: 4vw;
    }
}

@media (max-width: 1140px) {
    .icon-box {
        padding: 0;
    }

    .icon-row {
        gap: 50px;
    }

    .icon-container {
        width: 517px;
    }
}

@media (max-width: 1100px) {
    .my-skills-right-side {
        width: 400px;
    }
}

@media (max-width: 850px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    .my-skills-right-side {
        display: none;
    }

    .my-skills-headline {
        font-size: 45px;
    }

    .mobile-skills-header {
        display: flex;
    }

    .mobile-button {
        display: flex;
        width: max-content;
    }

    .icon-container {
        width: auto;
    }

    .icon-row {
        gap: 56px;
    }

    .icon-box {
        padding: 0;
    }

    .purple-line {
        margin-top: 33px;
    }
}



@media (max-width: 600px) {
    section {
        flex-direction: column;
        margin-left: 25px;
        padding-right: 25px;
        align-items: center;
        padding-top: 154px;
    }

    .my-skills-right-side {
        display: none;
    }

    .my-skills-headline {
        font-size: 45px;
    }

    .mobile-skills-header {
        display: flex;
    }

    .mobile-button {
        display: flex;
        width: max-content;
    }

    .icon-container {
        width: auto;
    }

    .icon-row {
        gap: 56px;
    }

    .icon-box {
        padding: 0;
    }

    .purple-line {
        margin-right: -25px;
    }
}

@media (min-width: 1921px) {
  section {
    max-width: 1920px;
    max-height: 1440px;
    margin: 0 auto;
  }
}