<section>
    <div>
        <div class="icon-row">
            @for(item of iconInfos; track item.path){
            <div class="icon-box">
                <img src="./assets/img/{{ item.path }}.svg">
                <p>{{ item.name }}</p>
            </div>
            }
        </div>
    </div>
    <div class="my-skills-right-side">
        <div>
            <div class="my-skills-section">
                <div>
                    <p class="my-skills-headline">My skills</p>
                    <p class="my-skills-description">I have gained experience in building projects with various front
                        end
                        technologies and
                        concepts.</p>
                </div>
                <div class="purple-line"></div>
            </div>
        </div>
        <button>Get in touch</button>
    </div>
</section>