<section>
    <div>
        <!-- @for(item of iconInfos; track item.path){
        <div class="icon-box">
            <img src="./assets/img/{{ item.path }}.svg">
            <span>{{ item.name }}</span>
        </div>
        } -->
        <div class="icon-row">
            <div class="icon-box">
                <img src="./assets/img/icon-angular.svg">
                <p>Angular</p>
            </div>
            <div class="icon-box">
                <img src="./assets/img/icon-ts.svg">
                <p>TypeScript</p>
            </div>
            <div class="icon-box">
                <img src="./assets/img/icon-js.svg">
                <p>JavaScript</p>
            </div>
            <div class="icon-box">
                <img src="./assets/img/icon-html.svg">
                <p>HTML</p>
            </div>
        </div>
        <div class="icon-row">
            <div class="icon-box">
                <img src="./assets/img/icon-angular.svg">
                <p>Angular</p>
            </div>
            <div class="icon-box">
                <img src="./assets/img/icon-ts.svg">
                <p>TypeScript</p>
            </div>
            <div class="icon-box">
                <img src="./assets/img/icon-js.svg">
                <p>JavaScript</p>
            </div>
            <div class="icon-box">
                <img src="./assets/img/icon-html.svg">
                <p>HTML</p>
            </div>
        </div>

    </div>
    <div class="my-skills-right-side">
        <div class="my-skills-section">
            <div>
                <p class="my-skills-headline">My skills</p>
                <p class="my-skills-description">I have gained experience in building projects with various front end technologies and
                    concepts.</p>
            </div>
            <div class="purple-line"></div>
        </div>
        <button>Get in touch</button>
    </div>
</section>