<section>
    <span>Sven</span>
    <div class="header-btn-container">
        <div class="language-toggle-container">
            <button>
                <img (click)="switchLanguage('en')" [ngClass]="{'inactivate': isInactive}"
                    class="language-icon-en" src="./assets/img/icon-english-flag.png">
                <img (click)="switchLanguage('ger')" [ngClass]="{'inactivate': isInactive1}"
                    class="language-icon-ger" src="./assets/img/icon-german-flag.png">
            </button>
        </div>
        <div (click)="toggleClass(1)" class="line-btn-container">
            <a [ngClass]="{'activated-color': isClicked}" href="#about_me">{{ "header-about-me" | translate }}</a>
            <div [ngClass]="{'activated-visibility': isClicked}" id="line1" class="purple-line"></div>
        </div>
        <div (click)="toggleClass(2)" class="line-btn-container">
            <a [ngClass]="{'activated-color': isClicked2}" href="#my_skills">Skills</a>
            <div [ngClass]="{'activated-visibility': isClicked2}" id="line2" class="purple-line"></div>
        </div>
        <div (click)="toggleClass(3)" class="line-btn-container">
            <a [ngClass]="{'activated-color': isClicked3}" href="#portfolio">Portfolio</a>
            <div [ngClass]="{'activated-visibility': isClicked3}" id="line3" class="purple-line"></div>
        </div>
    </div>
    <div class="mobile">
        <button>
            <img (click)="switchLanguage('en')" [ngClass]="{'inactivate': isInactive}" class="language-icon-en"
                src="./assets/img/icon-english-flag.png">
            <img (click)="switchLanguage('ger')" [ngClass]="{'inactivate': isInactive1}" class="language-icon-ger"
                src="./assets/img/icon-german-flag.png">
        </button>
        <div class="burger-menu-container">
            <div class="off-screen-menu">
                <div>
                    <a (click)="closeBurgerMenuOnClick()" href="#about_me">{{ "header-about-me" | translate }}</a>
                    <a (click)="closeBurgerMenuOnClick()" href="#my_skills">My skills</a>
                    <a (click)="closeBurgerMenuOnClick()" href="#portfolio">Portfolio</a>
                    <a (click)="closeBurgerMenuOnClick()" href="#contact">{{ "header-contact" | translate }}</a>
                </div>
            </div>
            <nav class="burger-menu">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </div>
    </div>
</section>