<section>
    <div class="portfolio-headline-container">
        <div class="portfolio-headline">
            <div class="purple-line-short"></div>
            <h1>Portfolio</h1>
            <div class="purple-line-long"></div>
        </div>
        <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    </div>
    <div>
        <app-project-blueprint></app-project-blueprint>
        <app-project-blueprint></app-project-blueprint>
        <app-project-blueprint></app-project-blueprint>
        <app-project-blueprint></app-project-blueprint>
        <app-project-blueprint></app-project-blueprint>
    </div>
</section>